@page
@model T4.PR1.Pages.ViewWaterConsumptionsModel
@{
	ViewData["Title"] = "Consums d'Aigua";
}

<h1>Llistat de Consums d'Aigua</h1>
<br/>

<p><strong>Nombre de registres:</strong> @Model.WaterConsumptions.Count</p>
@if (!string.IsNullOrEmpty(Model.FileErrorMessage))
{
	<p class="text-danger">@Model.FileErrorMessage</p>
}
<br/>

<a asp-page="/AddWaterConsumption" class="btn btn-primary">Afegir Consum d'Aigua</a>
<br/>
<br/>

<!-- Taula Principal -->
<table class="table table-striped">
	<thead>
		<tr>
			<td>Any</td>
			<td>Codi de Comarca</td>
			<td>Comarca</td>
			<td>Població</td>
			<td>Domèstic Xarxa</td>
			<td>Activitats Econòmiques i Fonts Pròpies</td>
			<td>Total</td>
			<td>Consum Domèstic per Càpita</td>
		</tr>
	</thead>
	<tbody>
		@foreach(var waterConsumption in Model.WaterConsumptions)
		{
			<tr>
				<td>@waterConsumption.Year</td>
				<td>@waterConsumption.Code</td>
				<td>@waterConsumption.County</td>
				<td>@waterConsumption.Population</td>
				<td>@waterConsumption.HomeNetwork</td>
				<td>@waterConsumption.EconomicActivities</td>
				<td>@waterConsumption.TotalWaterConsumption</td>
				<td>@waterConsumption.DomesticConsumptionPerCapita</td>
				<td>
					<form method="post" asp-page-handler="Delete" asp-route-id="@waterConsumption.Id">
						<button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
<br />
<br />